@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.bodies{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containers{
    background-color: #fff;
    position: relative;
    max-width: 1500px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    margin-right: -260px;
    margin-top: -870px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.containers header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.containers header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    left: 0;
    background-color: #4070f4;
    border-radius: 8px;
}

.containers form{
    position: relative;
    margin-top: 16px;
    min-height: 590px;
    background-color: #f2f2f2;
    padding: 15px;
}

.containers form .details{
    margin-top: 30px;
}

.containers form .identity{
    margin-top: 30px;
}

.containers form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.containers form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-fields{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
}

.input-fields label{
    font-size: 12px;
    font-weight: 500px;
    color: #2e2e2e;
}

.input-fields input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaaa;
    color: #333;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-fields input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-fields input[type="date"]{
    color: #707070;
}

.input-fields input[type="date"]:valid{
    color: #707070;
}