@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.bodies{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containers{
    background-color: #fff;
    position: relative;
    max-width: 1500px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    margin-right: -260px;
    margin-top: -1000px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.containers header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.containers header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    left: 0;
    background-color: #4070f4;
    border-radius: 8px;
}

.containers form{
    position: relative;
    margin-top: 16px;
    min-height: 500px;
    background-color: #f2f2f2;
}

.containers form .details{
    margin-top: 10px;
}

.containers form .title{
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.containers form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
}