{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Add Page</title>
    <style>
        @media (max-width: 1450px){
            .containers{
                max-width: 1000px !important;
                width: 100% !important;
                margin-right: -260px !important;
                margin-top: -650px !important;
                height: 560px !important;
            }
            .containers form{
                min-height: 505px !important;
            }
        }
    </style>
</head>
<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-icons-outlined">account_circle</span>
            </div>
        </header>
        <!-- End Header -->
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">inventory</span> BCMIS Admin
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{% url 'dashboard' %}">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'add' %}">
                        <span class="material-icons-outlined">add_circle</span> Add Residents
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'view_list' %}">
                        <span class="material-icons-outlined">list</span> List Resident
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">list</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">list</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">poll</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">settings</span> Settings
                    </a>
                </li>
            </ul>
        </aside>
        <main class="main-container">
            <form action="{% url 'add' %}" method="POST">
                {% csrf_token %}
                <div id="mainForm" class="form first" style="display: grid; grid-template-columns: repeat(2, 1fr);">
                    <div class="details personal">
                        <span class="title">Personal Information</span>
                        <div class="fields">
                            <!-- Fullname -->
                            <div class="input-fields">
                                <label for="">Full Name</label>
                                <input type="text" name="name" id="name" placeholder="Enter the full name" required>
                            </div>
                            <!-- Birthday -->
                            <div class="input-fields">
                                <label for="">Date of Birth</label>
                                <input type="date" name="birthday" id="birthday" placeholder="Enter the birthday" required>
                            </div>
                            <!-- Email -->
                            <div class="input-fields">
                                <label for="">Email</label>
                                <input type="email" name="email" id="email" placeholder="Enter the email" required>
                            </div>
                            <!-- Mobile Number -->
                            <div class="input-fields">
                                <label for="">Mobile No.</label>
                                <input type="text" name="phone" id="phone" placeholder="Enter the mobile no." required>
                            </div>
                            <!-- Address -->
                            <div class="input-fields">
                                <label for="">Address</label>
                                <input type="text" name="address" id="address" placeholder="Enter the address" required>
                            </div>
                            <!-- Age -->
                            <div class="input-fields">
                                <label for="">Age</label>
                                <input type="text" name="age" id="age" placeholder="Enter the age" required>
                            </div>
                            <!-- Martial Status -->
                            <div class="input-fields">
                                <label for="">Martial Status</label>
                                <input type="text" name="status" id="status" placeholder="Enter the status" required>
                            </div>
                            <!-- Citizenship -->
                            <div class="input-fields">
                                <label for="">Citizenship</label>
                                <input type="text" name="citizen" id="citizen" placeholder="Enter the cititzen" required>
                            </div>
                            <!-- Gender -->
                            <div class="input-fields">
                                <label for="">Gender</label>
                                <input type="text" name="gender" id="gender" placeholder="Enter the gender" required>
                            </div>
                        </div>
                    </div>
                    <div class="details identity">
                        <span class="title">Other Information</span>
                        <div class="fields">
                            <div class="input-fields">
                                <label for="">ID type</label>
                                <input type="text" name="id_type" id="id_type" placeholder="Enter the ID type" required>
                            </div>
                            <div class="input-fields">
                                <label for="">ID Number</label>
                                <input type="text" name="id_no" id="id_no" placeholder="Enter the ID number" required>
                            </div>
                            <div class="input-fields">
                                <label for="">Family Member</label>
                                <input type="number" name="member" id="member" placeholder="Enter the member" required>
                            </div>
                        </div>
                        <button type="submit" class="addbtn" style="margin-top: 15px;">
                            <span class="material-icons-outlined">add_circle</span> Save
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>
</html>