{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/view.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>List of Resident </title>
</head>
<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-icons-outlined">account_circle</span>
            </div>
        </header>
        <!-- End Header -->
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">inventory</span> BCMIS Admin
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{% url 'dashboard' %}">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'add' %}">
                        <span class="material-icons-outlined">add_circle</span> Add Residents
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">list</span> List Resident
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">list</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">list</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">poll</span> Coming Soon
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#">
                        <span class="material-icons-outlined">settings</span> Settings
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <section class="containers-tables" style="margin-left: 290px; margin-top: -800px;">
        <div class="d-flex flex-column">
            <div class="container-fluid">
                <h4 class="m-3" style="color: #333;"><i class="fa-solid fa-list fa-lg"></i>  List of Resident</h4>
                <div class="row">
                    <div class="col-12">
                        {% if resident %}
                        <div class="card bg-light ms-4 me-4 mb-4">
                            <div class="card-header"><i class="fa-solid fa-list fa-lg"></i> List of All Resident</div>
                            <div class="card-body">
                              <p class="card-text">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">Full name</th>
                                            <th scope="col">Birthday</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Mobile No.</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Martial Status</th>
                                            <th scope="col">Citizenship</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Info</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in resident %}
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.birthday }}</td>
                                                <td>{{ item.email }}</td>
                                                <td>{{ item.phone }}</td>
                                                <td>{{ item.address }}</td>
                                                <td>{{ item.age }}</td>
                                                <td>{{ item.status }}</td>
                                                <td>{{ item.citizen }}</td>
                                                <td>{{ item.gender }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary me-1" href="{% url 'view_info' item.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{resident.id}}">
                                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                                      </button>
                                                      <!-- Modal -->
                                                    <div class="modal" id="myModal{{resident.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title">Resident : {{ item.name }}</h5>
                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"></span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              <ul class="list-unstyled">
                                                                <li>Full name : <strong>{{ item.name }}</strong></li>
                                                                <li>Birthday : <strong>{{ item.birthday }}</strong></li>
                                                                <li>Email : <strong>{{ item.email }}</strong></li>
                                                                <li>Mobile No : <strong>{{ item.phone }}</strong></li>
                                                                <li>Address : <strong>{{ item.address }}</strong></li>
                                                                <li>Age : <strong>{{ item.age }}</strong></li>
                                                                <li>Status : <strong>{{ item.status }}</strong></li>
                                                                <li>Citizenship : <strong>{{ item.citizen }}</strong></li>
                                                                <li>Gender : <strong>{{ item.gender }}</strong></li>
                                                              </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                              </p>
                            </div>
                          </div>
                        {% else %}
                        <h5 class="alert alert-primary ms-4 me-4">No List</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>